@font-face {
  font-family: "Falconmaster";
  src: url("Falconmaster.eot?cioc8p");
  src: url("Falconmaster.eot?cioc8p#iefix") format("embedded-opentype"),
    url("Falconmaster.ttf?cioc8p") format("truetype"),
    url("Falconmaster.woff?cioc8p") format("woff"),
    url("Falconmaster.svg?cioc8p#Falconmaster") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Falconmaster" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hand:before {
  content: "\e900";
}
.icon-heart-outlined:before {
  content: "\e901";
}
.icon-thumbs-down:before {
  content: "\e902";
}
.icon-thumbs-up:before {
  content: "\e903";
}
.icon-tumblr:before {
  content: "\e904";
}
.icon-twitter-with-circle:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-youtube-with-circle:before {
  content: "\e907";
}
.icon-youtube:before {
  content: "\e908";
}
